# Node.js dependencies
node_modules/

# Build outputs
dist/
build/

# OS / editor temp files
.DS_Store
Thumbs.db
*.log
*.tmp

# IDEs
.vscode/
.idea/

# Optional: cache folders
.cache/
/.vs/LandingPage_AcusticaGoes/FileContentIndex
/.vs/LandingPage_AcusticaGoes/FileContentIndex/6107a112-425a-4bd5-a3f7-ec6d731e2ca5.vsidx
/.vs/LandingPage_AcusticaGoes/v17
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/LandingPage_AcusticaGoes/config/applicationhost.config
